.start {
    width: 500px;
    box-shadow: 5px 5px 10px rgb(139, 130, 130);
    background-color: #929096;
}

.top {
    border-bottom: 1px solid black;
    padding: 10px;
}

.middle {
    padding: 10px;
}

.bottom {
    border-top: 1px solid black;
    padding: 10px;
}

.button-style {
    background-color: #0D62E6;
    box-shadow: 2px 2px 5px rgb(139, 130, 130);
}